@model Venturada.UI.Models.ProductsMainModel
<!-- This View uses your Model -->
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- TinyMCE Script Reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            // Theme options
            plugins: [
        "advlist autolink lists link"
            ],
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

            // Example content CSS (should be your site CSS)
            content_css: "css/example.css",
        });
        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).closest('.form-group').removeClass('success').addClass('error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).closest('.form-group').removeClass('error').addClass('success');
                }
            }
        });
    </script>
</head>



    @if (Model.ProductsMainId > 0)
    {

        <div class="container">
            <div class="section">
                <div class="row">
                    @using (Html.BeginForm("EditProductsMainImage", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-sm-12">
                            <p class="thumbnail">
                                Current image. : <img src=@Url.Action("GetPhotoThumbnail", new { imageString = Model.ImageURLString }) class="img-responsive img-thumbnail">
                            </p>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="file" name="edit_ImageURL" class="form-control" accept="image/png,image/jpg,image/jpeg" value="@Model.ImageURLString" />
                        </div>

                        <div class="form-group col-lg-12">
                            <input type="hidden" value="@Model.ProductsMainId" name="edit_ProductsMainId">

                            <button class="btn btn-primary" type="submit">Save Image</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    <div class="section-colored">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("EditProductsMain", "Products"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group col-md-8">
                        @Html.LabelFor(model => model.ProductMainParagraphTitle, new { @class = "required" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.ProductMainParagraphTitle, new { maxlength = 50, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductMainParagraphTitle, null, new { @class = "help-inline", style = "color: red" })
                            <br />
                            @Html.LabelFor(model => model.ProductMainParagraph, new { @class = "required" })
                            @Html.TextAreaFor(model => model.ProductMainParagraph, new { maxlength = 1000, @rows = 10, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductMainParagraph, null, new { @class = "help-inline", style = "color: red" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ProductSubParagraphTitle, new { @class = "required" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.ProductSubParagraphTitle, new { maxlength = 50, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductSubParagraphTitle, null, new { @class = "help-inline", style = "color: red" })
                            <br />
                            @Html.LabelFor(model => model.ProductSubParagraph, new { @class = "required" })
                            @Html.TextAreaFor(model => model.ProductSubParagraph, new { maxlength = 500, @rows = 7, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductSubParagraph, null, new { @class = "help-inline", style = "color: red" })
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" value="@Model.ProductsMainId" name="edit_ProductsMainId">
                        <button class="btn btn-primary" type="submit">Save Main and Sub Paragraph</button>
                    </div>
                }
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                @Html.Partial("_NoAccess")
            </div>
        </div>
    }






