@model List<Venturada.UI.Models.ProductCategoryModel>

@{
    ViewBag.Title = "Price List";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            @if (Session["UserName"]  != null)
            {
                 <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="alert-info active">@Html.ActionLink("Add Product Category", "Add", "Price")</div>
                            </div>
                        </div>
                    </div>
                    foreach (var item in Model)
                    {
                        <div class="form-group col-lg-12 ">
                            <h2 class="page-header">@item.ProductCategory</h2> 
                            @Html.ActionLink("Edit Category", "EditCategory", "Price", new { productCategoryId = @item.ProductCategoryId }, null)  
                            | @Html.ActionLink("Delete Category", "DeleteCategory", "Price", new { productCategoryId = @item.ProductCategoryId }, null)
                            <input type="hidden" name="productCategoryId" value="@item.ProductCategoryId" />
                        </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @if (item.PriceListModel != null)
            {
                if (item.PriceListModel.Count > 0)
                {
                    <tr>
                        <td>
                            <i class="fa fa-plus"></i>
                            @Html.ActionLink("Add Products", "AddPrice", "Price", new { productCategoryId = @item.ProductCategoryId }, null)
                        </td>
                    </tr>
                    foreach (var item3 in item.PriceListModel)
                    {
                        <tr>
                                <td>
                                    @item3.ProductName
                                </td>
                                <td>
                                    @item3.ProductDescription
                                </td>
                                <td>
                                    @item3.Price
                                </td>
                            <td>
                                @Html.ActionLink("Edit Product", "EditPrice", "Price", new { priceListId = @item3.PriceListId }, null)
                                | @Html.ActionLink("Delete Product", "DeletePrice", "Price", new { priceListId = @item3.PriceListId }, null)
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td>
                            <i class="fa fa-plus"></i>
                            @Html.ActionLink("Add Products", "AddPrice", "Price", new { productCategoryId = @item.ProductCategoryId }, null)
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td>
                        <i class="fa fa-plus"></i>
                        @Html.ActionLink("Add Products", "AddPrice", "Price", new { productCategoryId = @item.ProductCategoryId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
                    }
            }
            else
            {
                @Html.Partial("_NoAccess")
            }
        </div>
        
    </div>
</div>



