@model Venturada.UI.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <!-- TinyMCE Script Reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            // Theme options
            plugins: [
        "advlist autolink lists link"
            ],
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

            // Example content CSS (should be your site CSS)
            content_css: "css/example.css",
        });

        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).closest('.form-group').removeClass('success').addClass('error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).closest('.form-group').removeClass('error').addClass('success');
                }
            }
        });
    </script>
</head>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Company Details
                <small>edit your company details</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>Company Details</li>
            </ol>
        </div>
    </div>
</div>
@if (Session["UserName"]  != null)
{
    <div class="section">
        <div class="container">
            <div class="row">

                @if (Model.ContactModel.CompanyName != null)
                {
                    <form action="@Url.Action("EditCompanyName", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="input2">Company Name</label>
                                <input type="text" id="input2" class="form-control" name="contact_company" value="@Model.ContactModel.CompanyName" required>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="hidden" value="@Model.ContactModel.ContactId" name="contact_id" required>
                                <button class="btn btn-primary" type="submit">Save Company Name</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
            
        </div>
    </div>

    <div class="section-colored">
        <div class="container">
            <div class="row">
                @if (Model.ContactNumbersModel1.ContactNumberId != null)
                {
                    <form action="@Url.Action("EditContactNumber", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Contact Number 1: <font color="red">*</font> </label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="contactNumber" value="@Model.ContactNumbersModel1.ContactNumber" required>
                                </div>
                            </div>
                            <div class="form-group ">
                                <input type="hidden" value="@Model.ContactNumbersModel1.ContactNumberId" name="contactNumberId">
                                <button class="btn btn-primary " type="submit">Save contact number 1</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
            <div class="row">
                @if (Model.ContactNumbersModel2.ContactNumberId != null)
                {
                    <form action="@Url.Action("EditContactNumber", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Contact Number 2</label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="contactNumber" value="@Model.ContactNumbersModel2.ContactNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.ContactNumbersModel2.ContactNumberId" name="contactNumberId">
                                <button class="btn btn-primary" type="submit">Save contact number 2</button>
                            </div>
                        </div>

                    </form>
                }
            </div>
            <div class="row">
                @if (Model.ContactNumbersModel3.ContactNumberId != null)
                {
                    <form action="@Url.Action("EditContactNumber", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Contact Number 3</label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="contactNumber" value="@Model.ContactNumbersModel3.ContactNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.ContactNumbersModel3.ContactNumberId" name="contactNumberId">
                                <button class="btn btn-primary" type="submit">Save contact number 3</button>
                            </div>
                        </div>

                    </form>
                }



            </div>
            <div class="row">
                @if (Model.ContactNumbersModel4.ContactNumberId != null)
                {
                    <form action="@Url.Action("EditContactNumber", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Contact Number 4</label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="contactNumber" value="@Model.ContactNumbersModel4.ContactNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.ContactNumbersModel4.ContactNumberId" name="contactNumberId">
                                <button class="btn btn-primary" type="submit">Save contact number 4</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
            <div class="row">
                @if (Model.ContactNumbersModel5.ContactNumberId != null)
                {
                    <form action="@Url.Action("EditContactNumber", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Contact Number 5</label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="contactNumber" value="@Model.ContactNumbersModel5.ContactNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.ContactNumbersModel5.ContactNumberId" name="contactNumberId">
                                <button class="btn btn-primary" type="submit">Save contact number 5</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">

            <div class="row">
                @if (Model.EmailAddressModel.EmailAddressId != null)
                {
                    <form action="@Url.Action("EditEmailAddress", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Email Address : <font color="red">*</font> </label>
                                <div class="col-md-6">
                                    <input type="email" id="input2" class="form-control" name="emailAddress" value="@Model.EmailAddressModel.EmailAddress" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.EmailAddressModel.EmailAddressId" name="emailAddressId">
                                <button class="btn btn-primary" type="submit">Save Email Address</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
            <div class="row">
                @if (Model.ShoppingHoursModel.ShoppingHoursId != null)
                {
                    <form action="@Url.Action("EditShoppingHours", "Contact")" method="POST" role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label for="input2" class="col-md-2">Shopping Hours : <font color="red">*</font> </label>
                                <div class="col-md-6">
                                    <input type="text" id="input2" class="form-control" name="description" value="@Model.ShoppingHoursModel.ShoppingHours" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.ShoppingHoursModel.ShoppingHoursId" name="id">
                                <button class="btn btn-primary" type="submit">Save Shopping Hours</button>
                            </div>
                        </div>

                    </form>
                }

            </div>
            
        </div>
    </div>

    <div class="section-colored">
        <div class="container">
            <div class="row">
                @if (Model.ContactAdditionalModel.ContactAdditionalId != null)
                {
                    if (Model.ContactAdditionalModel.ContactDescription != null)
                    {
                        <div class="form-group">
                            <label for="input2" class="col-md-4">Additional Contacts</label>
                            <br />
                            <div class="col-md-4">
                                <p>@(new HtmlString(Model.ContactAdditionalModel.ContactDescription))</p>
                                <br />
                                <p>
                                    @Html.ActionLink("Edit Additional Contact", "EditContactAdditional", "Contact", new { contactAdditionalId = Model.ContactAdditionalModel.ContactAdditionalId }, null)
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="input2" class="col-md-6">Additional Contacts</label>
                            <br />
                            <div class="col-md-12">
                                <p>
                                    @Html.ActionLink("Edit Additional Contact", "EditContactAdditional", "Contact", new { contactAdditionalId = Model.ContactAdditionalModel.ContactAdditionalId }, null)
                                </p>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                @if (Model.SocialMediaModelFacebook != null)
                {
                    if (Model.SocialMediaModelFacebook.SocialMediaId > 0)
                    {
                        <div class="col-sm-2">
                            <a title="Facebook" target="_blank" data-placement="top" data-toggle="tooltip" href="@Model.SocialMediaModelFacebook.SocialMediaUrl"><i class="fa fa-facebook-square fa-2x"></i></a>
                            @Html.ActionLink("Edit Facebook", "EditSocial", "Contact", new { socialMediaId = Model.SocialMediaModelFacebook.SocialMediaId }, null)
                        </div>
                    }
                }
                @if (Model.SocialMediaModelTwitter != null)
                {
                    if (Model.SocialMediaModelTwitter.SocialMediaId > 0)
                    {
                        <div class="col-sm-2">
                            <a title="Twitter" target="_blank" data-placement="top" data-toggle="tooltip" href="@Model.SocialMediaModelTwitter.SocialMediaUrl"><i class="fa fa-twitter-square fa-2x"></i></a>
                            @Html.ActionLink("Edit Twitter", "EditSocial", "Contact", new { socialMediaId = Model.SocialMediaModelTwitter.SocialMediaId }, null)
                        </div>
                    }
                }
                @if (Model.SocialMediaModelYoutube != null)
                {
                    if (Model.SocialMediaModelYoutube.SocialMediaId > 0)
                    {
                        <div class="col-sm-2">
                            <a title="Youtube" target="_blank" data-placement="top" data-toggle="tooltip" href="@Model.SocialMediaModelYoutube.SocialMediaUrl"><i class="fa fa-youtube-square fa-2x"></i></a>
                            @Html.ActionLink("Edit Youtube", "EditSocial", "Contact", new { socialMediaId = Model.SocialMediaModelYoutube.SocialMediaId }, null)
                        </div>
                    }
                }
                @if (Model.SocialMediaModelInstagram != null)
                {
                    if (Model.SocialMediaModelInstagram.SocialMediaId > 0)
                    {
                        <div class="col-sm-2">
                            <a title="Instagram" target="_blank" data-placement="top" data-toggle="tooltip" href="@Model.SocialMediaModelInstagram.SocialMediaUrl"><i class="fa fa-instagram fa-2x"></i></a>
                            @Html.ActionLink("Edit Instagram", "EditSocial", "Contact", new { socialMediaId = Model.SocialMediaModelInstagram.SocialMediaId }, null)
                        </div>
                    }
                }
            </div>

        </div>
    </div>
}
else
{
    @Html.Partial("_NoAccess")
}









