@model List<Venturada.UI.ViewModels.FeatureMainModel>



<div class="section">
    <div class="container">
        <div class="row">
            <div class="row-height">
                @if (Session["UserName"]  != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-xs-4 col-sm-4 col-sm-height col-sm-top">
                            <div class="inside inside-full-height">
                                <div class="content">
                                    Image: <img src=@Url.Action("GetPhotoThumbnail", new { imageString = item.FeatureImageURLString}) class="img-responsive img-thumbnail">
                                    <br /><label for="input1">Description:</label>
                                    <br />@(new HtmlString(item.FeatureDescription))
                                    <input type="hidden" name="home_carouselId" value="@item.FeatureId" />
                                    <br />
                                    <div class="btn-bot ">
                                        @Html.ActionLink("Edit Feature", "EditFeature", "Home", new { featureId = @item.FeatureId }, null)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @Html.Partial("_NoAccess")
                }

            </div>

        </div>
    </div>

</div>

