<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="PUnNfnzaL8L3NCY0z2O9rzncfCfXIXU_VxY_lMTnkmk" />
    <meta name="description" content="We are one of the top leading pork meat distribution companies |engaged in supplying of competitive price of both and local chilled or frozen quality pork meat">
    <meta name="description" content="One of the cleanest Meat processing company in Paranaque Philippines">
    <meta name="description" content="Para&ntildeaque,  Meat Processing And Slaughterhouse Corporation in Para&ntildeaque, Philippines">
    <meta name="description" content="Paranaque,  Meat Processing And Slaughterhouse Corporation in Para&ntildeaque, Philippines">
    <meta name="description" content="Para&ntildeaque,  Meat Processing And Slaughterhouse Corporation in Paranaque, Philippines">
    <meta name="description" content="Our company is exclusive distributor of PILMICO ANIMAL NUTRITION CORPORATION (Owned by ABOITIZ).">
    <meta name="description" content="to secure the quality and freshness of our meat, we are exclusive partner of PILMICO ANIMAL NUTRITION CORPORATION (owned by ABOITIZ Group)">
    <meta name="description" content="Pilmico  is excellent in providing high quality animal nutrition feeds, supporting services and swine production. it also provides counsel on animal nutrition and management and superior piglets to farmers to grow market.">
    <meta name="description" content="The Farm is excellent in providing a high quality of service. ">
    <meta name="description" content="Our Slaughter House partner is the Paranaque Meat Processing and Slaughterhouse. ">
    <meta name="description" content="Granted by the National meat inspection service is a “double aa” and has the credibility and passed the standard and facilities for slaughtering various animals.">
    <meta name="description" content="If you’d like to talk with one of our friendly butchers, give us a call at (02) 899-1407. ">
    <meta name="description" content="We will be glad to discuss our proposal with regards to your cutting requirement or chilling process.">
    
    <meta name="description" content="Para&ntildeaque Meat Processing And Slaughterhouse Venturadahogs ">
    <meta name="description" content="Venturada Philippines">
    <meta name="description" content="Venturada">
    <meta name="description" content="Venturadahogs">
    <meta name="description" content="ventura">
    <meta name="description" content="slaughter philippines">
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Venturadahogs Paranaque Meat Processing And Slaughterhouse Philippines | @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Contents/Images/Home/logoOriginalsmall.png">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/social.css")" rel="stylesheet">
    <link href="@Url.Content("/css/site.css")" rel="stylesheet">
    <link href="@Url.Content("/css/normalize.css")" rel="stylesheet">
    <link href="@Url.Content("/css/style.css")" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        @if (Request.Url.ToString().Contains("uat.azurewebsites.net") || Request.Url.ToString().Contains("local"))
        {
            <div class="col-sm-2">
                <div class="alert-danger">TEST ENVIRONMENT</div>
            </div>
        }
        <div class="container">
            
            <div class="top-bar">
                
                <div class="row">
                    
                    <div class="top-right">
                        <div class="top-number">Call now <i class="fa fa-phone-square"></i>(02) 899-1407</div>
                    </div>
                    
                    
                    <div class="navbar-header">
                        <div class="col-sm-7">
                            <a href="@Url.Action("Index", "Home")" class="navbar-inverse"><img src="~/Contents/Images/Home/logoOriginalsmall.png" width="200" height="90" class="imageLogo" /></a>
                            <div class="tagline">araw araw na ang fiesta</div>
                        </div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       
                       
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li id="home">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li id="about">
                                @Html.ActionLink("About Us", "Index", "About")
                            </li>
                            <li id="products" class="dropdown left">
                                <a href="@Url.Action("Index", "Products")" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li id="productList">
                                        @Html.ActionLink("Product List", "Index", "Products")
                                    </li>
                                    <li id="pricelist">
                                        @Html.ActionLink("Price List", "Index", "Price")
                                    </li>
                                    <li id="form">
                                        @Html.ActionLink("Downloadable Form", "Index", "Forms")
                                    </li>
                                </ul>
                            </li>
                            <li id="services" class="dropdown">
                                <a href="@Url.Action("Index", "Services")" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li id="servicesList">
                                        @Html.ActionLink("Services List", "Index", "Services")
                                    </li>
                                    <li id="pricelist">
                                        @Html.ActionLink("Price List", "Index", "Price")
                                    </li>
                                    <li id="form">
                                        @Html.ActionLink("Downloadable Form", "Index", "Forms")
                                    </li>
                                </ul>
                            </li>
                            <li id="promo">
                                @Html.ActionLink("Promo", "Index", "Promo")
                            </li>
                            <li id="promo">
                                @Html.ActionLink("Gallery", "Index", "Gallery")
                            </li>
                            <li id="contact">
                                @Html.ActionLink("Contact Us", "Index", "Contact")
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                
            </div>
            

        </div>
        <!-- /.container -->
    </nav>
    <br />
    <br />
    <br />
    <br />

    <br />
    @RenderBody()
    <div class="section">
        <div class="container">
            <hr class="featurette-divider" />
            <div class="row">
                <div class="col-sm-2">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Contents/Images/Home/logoOriginalsmall.png" class="pickgradient" width="150" height="70" /></a>
                    <div class="tagline-footer">araw araw na ang fiesta</div>
                </div>
                <div class="col-sm-7">
                    <h1>Venturada Hogs and Foods Corp</h1>
                    <p>
                        5th floor Topaz Bldg. <br>
                        Kamias Road, Quezon City<br>
                        Philippines<br />
                        <i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (02) 899-1407 
                    </p>
                    
                    <h1>Shopping Hours</h1>
                    <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Mon-Fri: 6am to 7pm</p>
                </div>

                <div class="col-sm-3">
                    <ul class="list-unstyled list-inline list-social-icons ">
                        <li class="tooltip-social facebook-link">
                            <a title="Facebook" target="_blank" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/profile.php?id=100010526250517"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li class="tooltip-social twitter-link">
                            <a title="Twitter" target="_blank" data-placement="top" data-toggle="tooltip" href="https://twitter.com/venturadahogs1"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                        <li class="tooltip-social youtube-link">
                            <a title="youtube" target="_blank" data-placement="top" data-toggle="tooltip" href="#youtubeprofile">
                                <i class="fa fa-youtube-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="tooltip-social instagram-link">
                            <a title="instagram" target="_blank" data-placement="top" data-toggle="tooltip" href="#instagram-profile">
                                <i class="fa fa-instagram fa-2x"></i>
                            </a>
                        </li>
                        
                        <li>
                            <p><i class="fa fa-envelope-o"></i><abbr title="Email">E</abbr>:<small><a href="mailto:customerservice@venturadahogs.com">customerservice@venturadahogs.com</a></small></p>
                        </li>
                    </ul>
                        
                        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p><h5>Copyright &copy; Venturada @DateTime.Now.Year.ToString()</h5></p>
                    <div class="pull-right" >
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
          </div>
        <!-- /.container -->
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
    <script src="@Url.Content("/js/prefixfree.min.js")"></script>
    @RenderSection("scripts", false)

</body>
</html>